<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFO Sightings</title>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="app-controller.js"></script>
    <style>
        form{
            border: solid 1px darkgray;
            padding: 10px;
            border-radius: 4px;
            background-color: lightgray
        }
    </style>
</head>
<body ng-app="ufo-sightings" ng-controller="AppController as ctrl">

<div ng-repeat="report in ctrl.ufoReports">
    <b>{{report.occurred}} {{report.city}}, {{report.state}}</b>
    <p>{{report.description}}</p>
</div>

<h4 ng-if="ctrl.isLoggedIn">
    Hello, {{ctrl.userName}}
</h4>

<div ng-if="ctrl.isLoggedIn">
    <h3>Report a UFO Sighting</h3>
    <form>
        <div><label>When? <input placeholder="Date and Time"></label></div>
        <div><label>Where? <input placeholder="City"> <select placeholder="State">
            <option ng-repeat="state in ctrl.states" value="{{state.abbreviation}}">{{state.name}}</option>
            </select></div>
        <div><label>What? <textarea cols="60" rows="5"></textarea></label></div>
        <div><button>Report it!</button></div>
    </form>
</div>

<div ng-if="!ctrl.isLoggedIn">
    <form>
        <h4>Log In</h4>
        <label>Name? <input type="text" ng-model="ctrl.userName" ></label> <button ng-click="ctrl.logIn()">Log me in</button>
    </form>
</div>
</body>
</html>